*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background:  #f4f6f8;
    min-width: 400px;
    display: flex;
}
/* side nav bar */
nav{
    background: rgb(255, 255, 255);
    width: 250px;
    height: 108vh;
}



nav .nav-logo{
    width: 100%;
    height: 70px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  

}
.nav-wrapper{
    width: 90%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #000; */

}

.logo-img-wrapper{
    width: 90px;
    height: 50px;
    /* background: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-img-wrapper img {
    width: 100%;
}
.menu-wrapper{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.menu-wrapper i{
    font-size: 24px;
}

/* profile wrapper */
.profile-wrapper{
    width: 100%;
    height: 90px;
    /* background: #000; */
    margin-top:10px;
    position: relative;
}
.profile{
    width: 90%;
    height: 50px;
    /* background: red; */
    position:absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    display: flex;
    padding-bottom: 60px;
    border-bottom:1px solid #ccc ;
    
}
.profile-detail-wrapper{
    width: 70%;
    height: inherit;
    /* background: blue; */
}
.profile-detail-wrapper h5 {
    color: black;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    

}
.profile-plan-wrapper{
    color: gray;
    text-align: center;
}
.profile-img-wrapper{
    width: 30%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #000; */
}
.profile-img-wrapper img{
    width: 80%;
    height: 80%;
    border-radius: 50%;
}
/* more-menu */
.more-menu-wrapper{
    width: 100%;
    height: 270px;
    /* background: pink; */
  
  
    border-bottom: 1px solid #ccc;
}
.more-menu{
    width: 100%;
    height: 50px;
    /* background: gray; */
    display:flex ;
    justify-content: center;
    align-items: center;



}
.more-menu:hover{
    cursor: pointer;
    color:  #0091ff;
    background:  rgba(37, 153, 242, 0.1);
    border-left:4px solid  #259af2 ;
}
.more-menu-icon{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #000; */

}


/* ................................... */
.more-menu-icon img {
    width: 70%;
}


.more-menu-options{
    width: 60%;
    height: inherit;
    /* background: blueviolet; */
    display: flex;
    align-items: center;
}
.more-menu-options p {
    /* background: green; */
    font-size: 16px;
    padding: 5px;
}



/* account & settings */
.setting-wrapper{
    /* background: pink; */
    width: 100%;
    height: 230px;
    padding-top: 15px;
    margin-bottom: 5px;
}
/* side nav bar */
/* right wrapper body */
.right-wrapper{
    width: 100%;
    height: 100vh;
    
}
/* right wrapper body */

.news-nav{
    background: red;
    width: 100%;
    height: 70px;
    border: 1px solid gray;
}

.main-body{
    /* background: green; */
 
    margin-top: 30px;
    width: 100%;
    height: 100vh;
    display: flex;
}



/* news section */

.news-wrapper{
    width: 75%;
    height: fit-content;
    /* background: #000; */
}

.inner-news-wrapper{
    width: 90%;
    height: fit-content;
    background: pink;
    margin: 0 auto;
    padding-bottom: 30px;
}

.main-banner{
    background-color: #ffffff;
    width: 100%;
    height: 350px;
    border-radius: 5px ;
}

.news-content-wrapper{
    /* background: green; */
    padding-top:30px ;
    display: flex;
   flex-wrap:wrap ;
   justify-content: space-between;
   gap: 20px;
   

}
/* news card */
.news-card{
    background: rgb(255, 255, 255);
    width: 48%;
    height: 300px;
    border-radius: 5px;
    margin: 0 auto;

}

/* trending side */
.left-sec{
    width: 25%;
    height: 100%;
    /* background: yellow; */
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: space-between;
}
/* trending boxes */

.trending-news-wrapper{
    width: 95%;
    height: 550px;
    background: white;
    border-radius: 5px;
}

.trending-news-link{
    /* background: pink; */
    width: 100%;
    height: 85%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    

}
.trend-news-box{
    width: 90%;
    height: 70px;
    /* background: yellow; */
    display: flex;
    gap: 5px;

}

.news-img-wrapper{
    width: 30%;
    height: inherit;
    /* background: red; */
    border-radius: 5px;
}
.news-img-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.news-title-wrapper{
    width: 70%;
    height: inherit;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5px;
}
.news-Type{
    color:gray ;
}
.trend-news-box:hover{
    color: #259af2;
    background-color: rgba(5, 136, 236, 0.185);
    border-right:4px solid #259af2 ;
}
.trending-sec-wrapper{
    width: 95%;
    height: 350px;
    background: white;
    border-radius: 5px;
 

}

.trending-sec-head-wrapper{
    /* background: pink; */
    height: 70px;
    text-align: left;
    padding: 30px 0px 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}
.trending-sec-content-wrapper{
    /* background: #000; */
    width: 80%;
    height: 70%;
    margin: 0 auto;
    padding: 30px 10px 30px 10px;
  

}
.trending-sec-content-wrapper ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    list-style: none;
 
  
}
.trending-sec-content-wrapper ul a{
    text-decoration: none;
    color: black;
    position: relative;
}
.trending-sec-content-wrapper ul a img {
    width: 10%;
    position: relative;
    left: -10px;
}
.trending-sec-content-wrapper ul a:hover{
    color: #259af2;

 
}


@media only screen and (max-width: 940px) {
    .news-card {
      background-color: lightblue;
      width: 80%;
    }
  }
@media only screen and (max-width: 700px) {
    .left-sec {
      background-color: lightblue;
      display: none;
    }
  }
  @media only screen and (max-width: 700px) {
    .news-wrapper{
      background-color: lightblue;
     width: 100%;
    }
    .news-card{
        width: 80%;
    }
  }
  @media only screen and (max-width: 400px) {
    nav {
      background-color: lightblue;
      display: none;
    }
  }